{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
	
	<!-- The video -->
	
		<div class="container">
			<video autoplay muted id="myVideo">
				<source src="{{ asset('videos/marvel-intro.webm') }}" type="video/webm">
			</video>
			<div class="start-btn-container text-center mt-5">
				<a id="start-btn" href="{{ path('show_characters', {'page' : 1}) }}" class="btn btn-success haveLoader">COMMENCER</a>
			</div>
		</div>
		
		
		
	
	
	{% block javascripts %}
		{{ encore_entry_script_tags('homepage') }}
	{% endblock %}
{% endblock %}
