{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}
	
	<div class="example-wrapper">
		<h1></h1>
		
		
		<div class="container">
			<div class="row">
				<div class="col">Helo</div>
				<div class="col">fdsqf</div>
				<div class="col">fdsqf</div>
			</div>
		</div>
	</div>
	
	{% block javascripts %}
		{{ encore_entry_script_tags('homepage') }}
	{% endblock %}
{% endblock %}
