{% extends 'base.html.twig' %}

{% block title %}Liste des personnages{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('show') }}
{% endblock %}

{% block body %}
	
	<div class="example-wrapper">
		
		
		<div class="container">
		
		</div>
	</div>
	
	{% block javascripts %}
		{{ encore_entry_script_tags('show') }}
	{% endblock %}
{% endblock %}
