@import "~bootstrap/scss/bootstrap";
body {
    background-color: lightgrey;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    .bg-details {
        background-image: url("../images/bg-details.jpg");
    }
    .bg-carbon {
        border-radius: 10px;
        background-image: url("../images/bg-carbon.jpg");
        background-size: contain;
    }
    footer {
        color: white;
        background: none;
    }
}

.logo {
    height: 100px;
}
.background-marvel {
    background-image: url('../images/marvel-header.png');
    background-repeat: repeat;
    background-size: contain;
}

